<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>posts tagged '{{.Name}}'</title>
        <link href="../../static/favicon.ico" rel="icon">
        <link href="../../static/css/reset.css" rel="stylesheet">
        <link href="../../static/css/main.css" rel="stylesheet">
    </head>

<body>
    <div class="center"> 
        <a class="page-title" href="../../">Posts tagged '{{.Name}}'</a>
        <a class="back" href="../../">back</a>
        {{range $post := .Posts}}
        <div class="post">
            <a class="title" href="../../post/{{$post.Metadata.Slug}}/">{{$post.Metadata.Name}}</a>
            <div class="date">{{$post.Metadata.Published}}</div>
            {{range $tag := $post.Metadata.Tags}}
            <a class="tag" href="../{{$tag}}">{{$tag}}</a>
            {{end}}
        </div>
        {{end}}
    </div>
</body>
</html>